<p>
  <b>Descripcion:</b>
  <%=h @situacion.descripcion %>
</p>

<p>
  <b>Clave:</b>
  <%=h @situacion.clave %>
</p>


<%= link_to 'Edit', edit_situacion_path(@situacion) %> |
<%= link_to 'Back', situacions_path %>