<table border="1" width="50%" style="background-color:white; text-align: center;">

   <tr style="background-color:gray; color:white">
    <th colspan="2">
      Tu cuenta ha sido creada
    </th>
   </tr>

   <tr>
      <th>Usuario:</th>
      <td><%=h @user.login %></td>
   </tr>

   <tr>
     <th>Contraseña:</th>
      <td><%=h @user.password %></td>
   </tr>

</table>

<p>
  <%= url_for(@url) %>
</p>

------------------------------------------------------------------------------------------------------
<p>Poder Judicial del Estado de Chiapas, todos los derechos reservados.</p>
