<!-- errores -->
<table style="text-align: center; width: 88%">
                <%if flash[:notice]%>
                      <div class="notice">
                          <%= flash[:notice] %>
                      </div>
                <%else%>
                    <p></p>
                <%end%>

 </table>



<div id="fotoperfil" style="height: 400px; width: 500px;">
<h1>Cargar foto de perfil</h1>

<% form_for(@uploaded_file, :url => {:action => "save_profile_picture", :id => @empleado }, :html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>


  <p>
    Archivo:<br />
    <%= f.file_field :inputfile %>
  </p>
  <p>
    <%= f.submit 'Cargar' %>
  </p>
<% end %>
</div>
