
<% form_for :visita, @visita, :url => { :action => "visita", :id => @visita }, :html => {:id => "visita"} do |f| -%>

 <table class="tabla_dp" >
  <tr align="center">
      <th align="center">Seleccione el tipo de visita</th>
      <th align="center">Fecha inicio</th>
      <th align="center">Fecha fin</th>
      
  </tr>
  <tr align="center">
      <td align="center"> <%= f.select :tipovisita_id, Tipovisita.all.collect{|a| [a.descripcion, a.id]}, :prompt => 'Seleccione una opción' %></td>      
      <td align="center"><%=f.text_field :periodo_inicio, :value => @fin.strftime("%Y/%m/%d"), :size => 16%></td>
      <td align="center"><%=f.text_field :periodo_fin,  :value => @fin.strftime("%Y/%m/%d"), :size => 16%></td>
      
  </tr>
  
  <tr align="center">
    <td>&nbsp;</td>
    <td><%= f.submit "Iniciar Visita"%></td>    
    <td>&nbsp;</td>
  </tr>  
</table>
<% end %>
<br />
