<%= error_messages_for :movimiento %>


<div class="formee container">

 <div class="formee-msg-info">
    <h3>Información importante</h3>
    <ul>
      <li>Los campos marcados con <em class="formee-req">*</em> son obligatorios.</li>
    </ul>
    <ul><li>&nbsp;</li></ul>
  </div>

  <div class="titulocalendario">
    <p><%=link_to @user.nombre_completo, {:action => "permissions_user", :id => @user.id},  :style =>"color: #019595; font-size:16px; font-weight:bold;"%> >> NUEVO REGISTRO DE AUSENCIA</p>
  </div>

  <% form_for :movimiento, @movimiento, :url => { :action => "save_permission", :id => @user.id }, :html => {:id => "new_orientacion", :onsubmit => "return checkSubmit();"} do |f| -%>
      <fieldset>
      <legend style="font-size: 16px;">CAPTURA&nbsp;DE&nbsp;NUEVA&nbsp;AUSENCIA</legend>

      <div class="grid-12-12">
        <label>MOTIVO:</label>
        <%= f.select :situacion_id, @situaciones.collect{|a| [a.descripcion, a.id]}, :prompt => 'Seleccione una opción'%>
      </div>

      <div class="grid-12-12" style="text-align: center;">
        <img alt="spinner" id="spinner" src="/images/loading_spinner.gif" style="display:none;" />
      </div>

      <div id="contenido_ausencia"></div>

      </fieldset>
  <%end%>
</div>





  <%= observe_field 'movimiento_situacion_id',
    :on => "change",
    :before => "Element.show('spinner')",
    :success => "Element.hide('spinner')",
    :url => {
    :action => 'get_partial_movimiento',
    :controller => 'admin'},
    :update => 'contenido_ausencia',
    :with=>  " 'movimiento_situacion_id=' + value + '&user=#{@user.id}' "
%>



