<h3 style="color:#104E8B; font-family: Helvetica;">Menú de administración</h3>

<table width="70%" border="0" cellspacing="0" cellpadding="0">
  <tr align="center">
       <td>
         <a href="/admin/show_roles" title="Administración de Perfiles y Usuarios">
          <img src="/images/iconos/control_usuarios.png" width="128" height="128" alt="nueva orientación" />
         </a>
       </td>
       <td>
         <a href="/admin/roles_estatus" title="Visualización de estatus por perfil">
          <img src="/images/iconos/roles_estatus.png" width="128" height="128" alt="estatus por perfil" />
         </a>
       </td>
        <td>
         <a href="/admin/show_materias" title="Administración de especialistas y materias">
           <img src="/images/iconos/list_all.png" width="128" height="128" alt="Asignación de especialistas y Materias" />
         </a>
        </td>

        <td>
         <a href="/admin/flujo" title="Flujo de estados de trámites">
           <img src="/images/iconos/flujo.png" width="128" height="128" alt="Asignación de estados y roles permitidos" />
         </a>
        </td>

        <td>
         <a href="/admin/dias_festivos" title="Sistematización de datos obtenidos en los apoyos otorgados por el DIF y Registro Civil."target="_blank">
           <img src="/images/iconos/agenda.png" width="128" height="128" alt="apoyos" />
         </a>
        </td>
  </tr>
  <tr align="center">
    <td class="menu">Perfiles y Usuarios</td>
    <td class="menu">Perfiles y Estatus</td>
    <td class="menu">Especialistas y Materias</td>
    <td class="menu">Flujo</td>
    <td class="menu">Días festivos</td>
  </tr>
</table>


<br /><%= link_to image_tag("botones/regresar_menu_ant.png", :border =>0) , :controller => "home", :action => "index"%><br />