<div class="titulocalendario">
  <p>
    Horario de sesiones
  </p>
</div>

<table class="table1">
    <thead>
      <tr>
            <th scope="col" abbr="Starter">Sala</th>
            <th scope="col" abbr="Medium">Horario</th>
            <th></th>
      </tr>
    </thead>
    
    <tbody>
      <%@horarios.each do |horario|%>
        <tr>
            <td><%=horario.sala.descripcion%></td>
            <td><%=horario.hora_completa%></td>
            <th scope="row">
              <%= (horario.activo) ?  (link_to 'Bloquear horario', { :action => "change_horario_estatus", :controller => "admin", :id => horario, :t => @token}, {:title => "Bloquear horario", :class => 'boton'}, :confirm => '¿Esta seguro?', :method => :post)  : (link_to 'Desbloquear horario', { :action => "change_horario_estatus", :controller => "admin", :id => horario, :t => @token}, {:title => "Desbloquear horario", :class => 'boton'}, :confirm => '¿Esta seguro?', :method => :post) %>
            </th>
        </tr>
      <%end%>
    </tbody>
</table>



<br /><%= link_to image_tag("botones/regresar_menu_ant.png", :border =>0) , :controller => "admin", :action => "index"%><br />