<%= error_messages_for :user %>
 <div class="centered">
        <table width="80%" align="center">
          <tr>
            <td class="titulocalendario"><b>CANCELACION DE TRAMITE</b></td>
           </tr>

          <!--espacio -->
          <tr>
            <th>&nbsp;</th>
          </tr>

          <!-- inicia form -->
          <% form_for :tramite, @tramite, :url => { :action => "cancel", :id => @tramite} do |f| -%>

           <tr>
            <td class="titulocalendario">Número de expediente:</td>
           </tr>
           <tr>
             <td><h1><%=@tramite.numero_expediente%></h1></td>
           </tr>

           <!-- Espacio -->
            <tr>
              <td>&nbsp;</td>
            </tr>

           <tr>
            <td class="titulocalendario">Motivo de cancelación:</td>
           </tr>
           <tr>
             <td> <%= f.select :motivo_cancelacion_id, MotivoCancelacion.all.collect{|a| [a.descripcion, a.id]}%></td>
           </tr>

               <!-- Espacio -->
            <tr>
              <td>&nbsp;</td>
            </tr>

          <tr>
            <td class="titulocalendario">Escriba las observaciones o comentarios:</td>
          </tr>
          <tr>
            <td>
            <%= f.text_area :cancelacion_observaciones, :size => "60x4"%>
            </td>
          </tr>
          <tr><th>&nbsp;</th></tr>
          
          <!-- boton -->
          <tr>
           <td>
            <input id="button4" class="buttonText" type="submit" title="Cancelar" value="Cancelar"  />
          </td>

          </tr>
        <%end%>
      </table>
    <table>
      <tr>
        <th>&nbsp;</th>
      </tr>
    </table>
   </div>




<script type="text/javascript">
  var observaciones = new LiveValidation( 'tramite_cancelacion_observaciones' );
  observaciones.add( Validate.Presence );
  observaciones.add( Validate.Length, { maximum: 220 } );
</script>
