<h4>NO EXISTEN ESPECIALISTAS PARA LA MATERIA: <%=@tramite.materia.descripcion%>, CONSULTE AL ADMINISTRADOR</h4>
<br /><%= link_to image_tag("botones/regresar_menu_ant.png", :border =>0) , :controller => "tramites", :action => "list"%><br />