<div class="titulocalendario">
  <p>No existen especialistas disponibles, intente en otra fecha</p>
</div>

<br /><%= link_to image_tag("botones/regresar_menu_ant.png", :border =>0) , :controller => "tramites", :action => "list"%><br />