<!-- encabezado -->
<%=render :partial => "encabezado_busqueda"%>

<p>
   <%= link_to image_tag("iconos/reload.png", :border =>0) , {:action => "list"}, :title => "Recargar"%>
</p>



<!-- contenido -->
<%= render :partial => "list_kolaval"%>


<br />
<%= link_to image_tag("botones/regresar_menu_ant.png", :border =>0) , :controller => "customs"%><br />
