<h4 style=" font-family:  Helvetica;">Listado general de trámites</h4>
<%= render :partial => "list"%>
<br />
<%= link_to image_tag("botones/regresar_menu_ant.png", :border =>0) , :controller => "customs"%><br />
