<h3 style="color:#104E8B; font-family: Helvetica;"><b>Trámite: <%=@tramite.folio_integrado%></b></h3>


<table width="70%" border="0" cellspacing="0" cellpadding="0">
  <tr align="center">

       <td>
        <a href="/orientacions/new_or_edit/<%=@tramite.id%>" title="Orientaciones">
          <img src="/images/iconos/orientaciones2.png" width="128" height="128" alt="orientaciones" />
        </a>
       </td>

       <td>
        <a href="/comparecencias/new_or_edit/<%=@tramite.id%>" title="Comparecencias">
          <img src="/images/iconos/comparecencias.png" width="128" height="128" alt="comparecencias" />
        </a>
       </td>

       <td>
        <a href="/invitaciones/list_by_tramite" title="Invitaciones">
          <img src="/images/iconos/invitaciones.png" width="128" height="128" alt="invitaciones" />
        </a>
       </td>

       <td>
        <a href="/sesiones/list_by_tramite" title="Sesiones">
          <img src="/images/iconos/sesiones_personales.png" width="128" height="128" alt="nueva orientación" />
        </a>
       </td>


  </tr>
  <tr align="center">
    <td class="menu">Orientación</td>
    <td class="menu">Comparecencia</td>
    <td class="menu">Invitaciones</td>
    <td class="menu">Sesiones</td>
  </tr>
</table>
<br/>
<%= link_to image_tag("botones/regresar_menu_ant.png", :border =>0) , :controller => "home", :action => "index"%><br />

