<%= render :partial => "barra_superior"%>

<table width="50%" border="0" cellspacing="0" cellpadding="0">
  <tr align="center">
   
       <!-- Administración de personal -->
       <td><%=link_to image_tag('iconos/perfiles2.png',  :size => "128x128", :mouseover => "iconos/perfiles2.png") , {:action => "show_users", :controller => "admin"}, :title => "Control de usuarios"%></td>

       <!-- Reportes -->
       <td><%=link_to image_tag('iconos/reporte.png',  :size => "128x128", :mouseover => "iconos/reporte.png") , {:action => "select_bitacora_ausencias_personal", :controller => "estadisticas"}, :title => "Reporte de ausencias"%></td>
  
       <!-- Agenda -->
       <td><%=link_to image_tag('iconos/calendario.png',  :size => "128x128", :mouseover => "iconos/calendario.png") , {:action => "calendario", :controller => "agenda"}, :title => "Agenda"%></td>
  </tr>
  <tr align="center">
    <td class="menu" align="center">Administración de Usuarios</td>
    <td class="menu" align="center">Reportes de ausencias de personal</td>
    <td class="menu" align="center">Agenda</td>
  </tr>
</table>