<%= render :partial => "barra_superior"%>

<table width="50%" border="0" cellspacing="0" cellpadding="0">
  <tr align="center">
      <!-- Listado de tr치mites -->
      <td>
        <a href="/tramites/list" title="Tr치mites">
            <img src="/images/iconos/seguimiento.png" width="128" height="128" alt="Tr치mites" />
        </a>
      </td>

       
        <td>
          <a href="/agenda/calendario" title="Control de la agenda">
            <img src="/images/iconos/calendario.png" width="128" height="128" alt="apoyos" />
          </a>
        </td>
     
  </tr>
  <tr align="center">
    <td class="menu">Listado de tr치mites</td>
     <td class="menu">Control de Agenda</td>
  </tr>
</table>

