<table width="65%" border="0" cellspacing="0">
  <tr align="center">
    <td align="right" width="35%"><%=image_tag("pjech/logo_rojo.png", :border => 0, :size => "118×154", :alt => "PJECH")%></td>
    <td align="left" width="65%"><%=image_tag("pjech/barra_menu.png", :border => 0, :alt => "PJECH")%></td>
  </tr>
</table>
<br />