<h3 style="color:#104E8B; font-family: Helvetica;">Captura</h3>


<table width="70%" border="0" cellspacing="0" cellpadding="0">
  <tr align="center">
       <td>
        <a href="/orientacions/captura_historica" title="Captura de orientaciones">
              <img src="/images/iconos/new_orientacion.png" width="128" height="128" alt="nueva orientación" />
        </a>
       </td>
 
      <td>
        <a href="/tramites/list" title="Trámites">
          <img src="/images/iconos/seguimiento.png" width="128" height="128" alt="Trámites" />
        </a>
      </td>
  </tr>

  <tr align="center">
    <td class="menu">Histórico de Orientaciones</td>
     <td class="menu">Listado de trámites</td>
  </tr>
</table>
