<!---  Comparecencias del usuario actual --->
<%if Comparecencia.count(:user_id, :conditions=> ["user_id = ?", current_user]) > 0%>
  <li>
    <ul><%=link_to image_tag('kolaval/comparecencias.jpg', :size => "128x128", :size => "128x128", :mouseover => "kolaval/comparecencias.jpg") , {:action => "list_by_user", :controller => "comparecencias"}, :title => "Comparecencias"%></ul>
  </li>
<%end%>
