<%= render :partial => "barra_superior"%>

<table width="50%" border="0" cellspacing="0" cellpadding="0">
  <tr align="center">
      <td>
        <a href="/orientacions/list_by_user" title="Mis Orientaciones">
           <img src="/images/iconos/orientaciones2.png" width="128" height="128" alt="orientaciones" />
        </a>
      </td>

       <td>
        <a href="/comparecencias/list_by_user" title="Mis Comparecencias">
          <img src="/images/iconos/comparecencias.png" width="128" height="128" alt="comparecencias" />
        </a>
       </td>

       <!-- Listado de tr치mites -->
        <td>
            <a href="/tramites/list" title="Tr치mites">
              <img src="/images/iconos/seguimiento.png" width="128" height="128" alt="Tr치mites" />
            </a>
        </td>

      <!--
      <td>
         <a href="/customs/library" title="Biblioteca">
           <img src="/images/iconos/biblioteca.png" width="128" height="128" alt="biblioteca" />
         </a>
       </td>
      -->
  </tr>
  <tr align="center">
    <td class="menu">Orientaciones</td>
    <td class="menu">Comparecencias</td>
    <td class="menu">Listado de tr치mites</td>
    <!-- <td class="menu">Biblioteca</td> -->
  </tr>
</table>

