<%= render :partial => "barra_superior"%>

<table width="50%" border="0" cellspacing="0" cellpadding="0">
  <tr align="center">
      <td>
        <a href="/orientacions/list_by_user" title="Mis Orientaciones">
           <img src="/images/iconos/orientaciones2.png" width="128" height="128" alt="orientaciones" />
        </a>
      </td>

       <td>
        <a href="/comparecencias/list_by_user" title="Mis Comparecencias">
          <img src="/images/iconos/comparecencias.png" width="128" height="128" alt="comparecencias" />
        </a>
       </td>

        <%if current_user.has_role?("bitacora")%>
        <td>
           <%=link_to image_tag('iconos_estadisticos/bitacora_atencion.png', :size => "128x128", :mouseover => "iconos_estadisticos/bitacora_atencion_2.png") , {:controller => "estadisticas", :action => "select_personas_atendidas"}, :title => "Bitácora de atención"%>
        </td>
        <%end%>

       <!-- Listado de trámites -->
        <td>
            <a href="/tramites/list" title="Trámites">
              <img src="/images/iconos/seguimiento.png" width="128" height="128" alt="Trámites" />
            </a>
        </td>

      <!--
      <td>
         <a href="/customs/library" title="Biblioteca">
           <img src="/images/iconos/biblioteca.png" width="128" height="128" alt="biblioteca" />
         </a>
       </td>
      -->
  </tr>
  <tr align="center">
    <td class="menu">Orientaciones</td>
    <td class="menu">Comparecencias</td>
    <%if current_user.has_role?("bitacora")%>
        <td class="menu">Bitácora de atención</td>
    <%end%>
    <td class="menu">Listado de trámites</td>
    <!-- <td class="menu">Biblioteca</td> -->
  </tr>
</table>

