<h3 style="color:#104E8B; font-family: Helvetica;">Control de agenda</h3>


<table width="70%" border="0" cellspacing="0" cellpadding="0">
  <tr align="center">
       <td>
        <a href="/agenda/management" title="Calendario">
          <img src="/images/iconos/calendario.png" width="128" height="128" alt="calendario" />
        </a>
       </td>
  </tr>

  <tr align="center">
    <td class="menu">Calendario</td>
  </tr>
</table>
