<%= render :partial => "barra_superior"%>

<table width="50%" border="0" cellspacing="0" cellpadding="0">
  <tr align="center">
      <td>
        <a href="/tramites" title="Trámites">
          <img src="/images/iconos/tramites.png" width="128" height="128" alt="tramites" />
        </a>
      </td>

      <td>
         <a href="/customs/library" title="Biblioteca">
           <img src="/images/iconos/biblioteca.png" width="128" height="128" alt="biblioteca" />
         </a>
       </td>
  </tr>
  <tr align="center">
    <td class="menu">Trámites</td>
    <td class="menu">Biblioteca</td>
  </tr>
</table>

