<%= render :partial => "barra_superior"%>

<table width="50%" border="0" cellspacing="0" cellpadding="0">
  <tr align="center">
      <td>
        <a href="/tramites" title="Trámites">
          <img src="/images/iconos/tramites.png" width="128" height="128" alt="tramites" />
        </a>
      </td>

      
      <td>
         <a href="/orientacions/show_especialistas_disponibles" title="Especialistas disponibles">
           <img src="/images/iconos/personal.png" width="128" height="128" alt="especialistas" />
         </a>
       </td>
      

       <td>
         <a href="/admin/show_users" title="Administración de Personal">
           <img src="/images/iconos/perfiles2.png" width="128" height="128" alt="rh" />
         </a>
       </td>

       <td>
         <a href="/estadisticas" title="Seguimiento de información estadística del CEJA">
           <img src="/images/iconos/estadisticas2.png" width="128" height="128" alt="estadisticas" />
         </a>
       </td>

  </tr>
  <tr align="center">
   <td class="menu" align="center">Trámites</td>
   <td class="menu" align="center">Administración de Usuarios</td>
   <td class="menu" align="center">Especialistas</td>
   <td class="menu" align="center">Estadísticas</td>
  </tr>
</table>