<%= render :partial => "barra_superior"%>

<table width="50%" border="0" cellspacing="0" cellpadding="0">
  <tr align="center">
   <td>
        <a href="/orientacions/list_by_user" title="Orientaciones">
          <img src="/images/iconos/orientaciones2.png" width="128" height="128" alt="orientaciones" />
        </a>
       </td>

       <td>
        <a href="/comparecencias/list_by_user" title="Comparecencias">
          <img src="/images/iconos/comparecencias.png" width="128" height="128" alt="comparecencias" />
        </a>
       </td>
  </tr>
  <tr align="center">
   <td class="menu" align="center">Orientaciones</td>
    <td class="menu" align="center">Comparecencias</td>
  </tr>
  <tr>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
  </tr>
  <tr align="center">
      <td>
        <a href="/sesiones/list_by_user" title="Sesiones">
          <img src="/images/iconos/sesiones_personales.png" width="128" height="128" alt="nueva orientación" />
        </a>
       </td>

       <td>
        <a href="/customs/show_calendario" title="Calendario">
          <img src="/images/iconos/calendario.png" width="128" height="128" alt="calendario" />
        </a>
       </td>
  </tr>

  <tr>
    <td class="menu" align="center">Sesiones</td>
    <td class="menu" align="center">Calendario</td>
  </tr>
</table>
