<!-- Libro de control -->
<%if current_user.has_role?(:librocontrol)%>
  <li>
    <ul><%=link_to image_tag('kolaval/ico-libro-control.jpg', :size => "128x128", :size => "128x128", :mouseover => "kolaval/ico-libro-control.jpg") , {:action => "index", :controller => "libro"}, :title => "Libro de control"%></ul>
  </li>
<%end%>