<%= render :partial => "barra_superior"%>

<table width="50%" border="0" cellspacing="0" cellpadding="0">
  <tr align="center">
     <td>
        <a href="/extraordinaria" title="Iniciar atención extraordinaria">
          <img src="/images/iconos/new_orientacion_extra.png" width="128" height="128" alt="nueva orientación con personal extraordinario" />
        </a>
     </td>


  </tr>
  <tr align="center">
    <td class="menu" align="center">Atención Extraordinaria</td>
  </tr>
</table>