<%= render :partial => "barra_superior"%>

<table width="80%" border="0" cellspacing="0" cellpadding="0">
  <tr align="center">
    <!-- Atencion extraordinaria -->
    <td><%=link_to image_tag('tipo_atencion/tramite_extraordinario.png', :size => "128x128", :mouseover => "tipo_atencion/tramite_extraordinario_2.png") , {:action => "index", :controller => "extraordinaria"}, :title => "Atención por escrito de otras instancias"%></td

    <!-- Por escrito -->
    <td><%=link_to image_tag('tipo_atencion/atencion_escrito.png',  :size => "128x128", :mouseover => "tipo_atencion/atencion_escrito_2.png") , {:action => "por_escrito_index", :controller => "atencion"}, :title => "Atención por escrito de particulares"%></td>
  
    <!-- Listado -->
    <td><%=link_to image_tag('iconos/seguimiento.png',  :size => "128x128", :mouseover => "iconos/seguimiento.png") , {:action => "list", :controller => "tramites"}, :title => "Listado de trámites"%></td>
  </tr>

    <tr align="center">
     <td class="menu" align="center">Atención por escrito otras instituciones</td>
     <td class="menu" align="center">Atención por escrito de particulares</td>
     <td class="menu" align="center">Listado de trámites</td>
  </tr>
</table>