<div class="titulocalendario">
  <p>
    Mi lista de comparecencias capturadas (últimos 50 registros)
  </p>
</div>

<%= render :partial => "list_by_user"%>
<br />
<%= link_to image_tag("botones/regresar_menu_ant.png", :border =>0) , :controller => "customs"%><br />
