<script type="text/javascript">
		$j(document).ready(function() {
			/*
			 *  Simple image gallery. Uses default settings
			 */

			$j('.fancybox').fancybox();
               });
</script>


<div class="titulocalendario">
  <p>Comparecencia</p>
</div>

<table width="70%" border="0" cellspacing="0" cellpadding="0">
  <tr align="center">
    
      <td>
          <%=link_to_remote image_tag("iconos/informacion.png", :size => "128x128", :alt => "Informacion", :title => "Informacion"), :update => "divcontenido",
          :url => { :action => "show_informacion_general", :id => @tramite.id },
          :before => "Element.show('spinner')",
          :complete => "Element.hide('spinner')",
          :html => {:title => "M치s informaci칩n"}%>
      </td>

      <%if @comparecencia%>
        <td>
           <%=link_to_remote image_tag("iconos/participantes.png", :size => "128x128", :alt => "Participantes", :title => "Participantes"), :update => "divcontenido",
            :url => { :action => "show_participantes", :id => @tramite.id },
            :before => "Element.show('spinner')",
            :complete => "Element.hide('spinner')",
            :html => {:title => "Participantes"}%>
        </td>

        <%if current_user.has_role?("lecturaagenda") && HABILITADO_RESERVA_SESION%>
         <td>
           <%=link_to image_tag('iconos/horarios2.png', :size => "128x128") , {:action => "show_schedules", :id => @comparecencia.tramite}, :title => "seleccion de horario", :class => "fancybox fancybox.iframe"%>
         </td>
        <%end%>
     <%end%>
 </tr>
  <tr align="center">
   <td class="menu" align="center">Informaci칩n General</td>
    <%if @comparecencia%>
      <td class="menu" align="center">Participantes</td>
      <%if current_user.has_role?("lecturaagenda")%>
        <td class="menu" align="center">Selecci칩n de horario</td>
      <%end%>
    <%end%>
  </tr>
</table>

<!-- spinner -->
<img alt="spinner" id="spinner" src="/images/loading_spinner.gif" style="display:none;" /><br />

<!-- contenido -->
<div id="divcontenido">

</div>



