<table width="70%" border="0" cellspacing="0" cellpadding="0">
  <tr align="center">
   <td>
     <a href="/orientacions" title="Iniciar trámite">
        <img src="/images/iconos/new_orientacion.png" width="128" height="128" alt="nueva orientación" />
     </a>
       </td>
        <td>
         <a href="/seguimiento" title="Seguimiento de trámites">
           <img src="/images/iconos/seguimiento.png" width="128" height="128" alt="proceso inclusión" />
         </a>
        </td>
        <td>
         <a href="/agenda" title="Control de la agenda">
           <img src="/images/iconos/agenda.png" width="128" height="128" alt="apoyos" />
         </a>
        </td>
        <td>
         <a href="http://saechf.educacionchiapas.gob.mx/tae/" title="Seguimiento de información sobre situación escolar y aprovechamiento.">
           <img src="/images/iconos/estadisticas.png" width="128" height="128" alt="monitoreo" />
         </a>
        </td>
        <td>
          <a href="/admin/index" title="Módulo de administración del sistema">
            <img src="/images/iconos/Crystal_Clear_action_configure.png" width="128" height="128" alt="administracion"/>
          </a>
        </td>
  </tr>
  <tr align="center">
    <td class="menu">Iniciar trámite</td>
    <td class="menu">Seguimiento</td>
    <td class="menu">Agenda</td>
    <td class="menu">Estadísticas</td>
    <td class="menu">Administración</td>
  </tr>
</table>

