<p>
  <b>Descripción:</b>
  <%=h @procedencia.descripcion %>
</p>


<%= link_to 'Editar', edit_procedencia_path(@procedencia), :class => "boton" %> |
<%= link_to 'Atrás', procedencias_path, :class => "boton"%>