<h4 style=" font-family:  Helvetica;">Control de agenda</h4>

<%= render :partial => "calendario"%>
<br />

Aqui agregaremos un form

<%= link_to image_tag("botones/regresar_menu_ant.png", :border =>0) , :controller => "customs"%><br />
