<h4 style=" font-family:  Helvetica;">Control de agenda</h4>

<%= render :partial => "calendario"%>
<br />


<!-- inicia form -->
<% form_for :sesion, @sesion, :url => { :action => "search_sesiones" } do |f| -%>
  <table width="100%" border="0" align="center" cellpadding="2" cellspacing="1">
    <tr bgcolor="#CCCCCC" class="titulo">
      <td colspan="3" align="center" >NUEVA SESIÓN</td>
    </tr>
    <tr align="center">
      <td align="center">
          <table width="100%" border="0" cellpadding="2" cellspacing="1" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid;">
            <tr bgcolor="#E8E8E8" class="subtitulo">
              <td align="center" colspan="4">SELECCIONE FECHA</td>
            </tr>
            <tr align=" justify" class="pregunta">
              <td align="center"></td>
            </tr>
            <tr>
              <td align="center"><%=f.text_field :end_at%></td>
            </tr>
          </table>
       </td>
    </tr>

    <!-- FOOTER -->
    <tr>
      <td align="center">
        <table>
          <tr>
            <td>
              <input title="Buscar horarios" alt=" Guardar y regresar a la sección anterior " type="image"  src="/images/botones/boton_buscar.png" width="150" height="40" style="margin-left:90px;"/>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
<% end %>




<!-- finaliza form-->
<%= link_to image_tag("botones/regresar_menu_ant.png", :border =>0) , :controller => "customs"%><br />
