<h4 style=" font-family:  Helvetica;">Sesiones del trámite <%=@tramite.folio_integrado%></h4>

<!-- contenido -->
<%= render :partial => "list"%>

<br />
<%=link_to "Nueva sesión", {:action => "new", :id => @tramite}, :class => 'boton'%><br />

<br />
<%= link_to image_tag("botones/regresar_menu_ant.png", :border =>0) , :controller => "customs"%><br />
