<!-- contenido -->
<br /><%= render :partial => "show"%>

<!-- back -->
<div align="center">
   <br /><%= link_to image_tag("botones/regresar_menu_ant.png", :border =>0) ,  {:controller => "home"}, {:title => "Regresar al menú anterior"}%><br />
</div>

