<div class="titulocalendario">
  <p>
    LIBRO ELECTRONICO DE CONTROL
  </p>
</div>

<%=render :partial => "formulario_busqueda"%>

<%= (link_to "RAZON APERTURA/CIERRE", {:controller => "cierreanio", :action => "index"}, :border => 0, :class => "fancybox fancybox.iframe boton") %></br></br>
<%= link_to image_tag("botones/regresar_menu_ant.png", :border =>0) , :controller => "home"%><br />