<div class="titulocalendario">
  <p>
    LIBRO ELECTRONICO DE CONTROL
  </p>
</div>

<%=render :partial => "formulario_busqueda"%>

<%= link_to image_tag("botones/regresar_menu_ant.png", :border =>0) , :controller => "home"%><br />