<h3 style="color:#104E8B; font-family: Helvetica;">Seguimiento y búsqueda de trámites</h3>

<table width="70%" border="0" cellspacing="0" cellpadding="0">
  <tr align="center">

       <td>
        <a href="/orientacions/new_or_edit" title="Búsqueda por municipio">
          <img src="/images/iconos/mapa_chiapas.png" width="128" height="128" alt="municipio" />
        </a>
       </td>

       <td>
        <a href="/orientacions/new_or_edit" title="Historial">
          <img src="/images/iconos/history.png" width="128" height="128" alt="comparecencias" />
        </a>
       </td>


       <td>
        <a href="/orientacions/list_all" title="Búsqueda general">
          <img src="/images/iconos/busqueda_general.png" width="128" height="128" alt="nueva orientación" />
        </a>
       </td>

        <td>
         <a href="/orientacions/list_by_user" title="Búsqueda por usuario">
           <img src="/images/iconos/orientaciones_usuario.png" width="128" height="128" alt="orientaciones por usuario"/>
         </a>
        </td>
  </tr>
  <tr align="center">
    <td class="menu">Búsqueda por Municipio</td>
    <td class="menu">Historial</td>
    <td class="menu">Búsqueda general</td>
    <td class="menu">Búsqueda por usuario</td>
  </tr>
</table>
<br/>
<%= link_to image_tag("botones/regresar_menu_ant.png", :border =>0) , :controller => "home", :action => "index"%><br />

