<h4 style=" font-family:  Helvetica;">Invitaciones del trámite: <%=@tramite.folio_integrado%></h4><br />
<%= render :partial => "list"%>

<br />
<%= link_to image_tag("botones/regresar_menu_ant.png", :border =>0) , :controller => "tramites", :action => "menu", :id => @tramite%><br />
