
<!-- encabezado -->
<%=render :partial => "encabezado_botones"%>

<div class="titulocalendario">
  <p style="font-family: 'Nexa Light'">
     INVITACIONES ENTREGADAS
  </p>
</div>


<p>
   <%= link_to image_tag("kolaval/ico-actualizar.jpg", :border =>0) , {:action => "show_all"}, :title => "Recargar"%>
</p>

<!-- contenido -->
<%=render :partial => "list"%>

<br /><br /><%= link_to image_tag("botones/regresar_menu_ant.png", :border =>0) , :controller => "home", :action => "index"%><br />
