<h3 style="color:#104E8B; font-family: Helvetica;">Supervisión y aceptación de trámites</h3>

<table width="70%" border="0" cellspacing="0" cellpadding="0">
  <tr align="center">

       <td>
        <a href="/supervisiones/aceptar_tramite" title="Aceptación de trámites">
          <img src="/images/iconos/aceptacion_tramite.png" width="128" height="128" alt="municipio" />
        </a>
       </td>

       <td>
        <a href="/supervisiones/asignacion_materia" title="Asignación de materia">
          <img src="/images/iconos/asignacion_materia.png" width="128" height="128" alt="comparecencias" />
        </a>
       </td>


       <td>
        <a href="/orientacions/list_all" title="Búsqueda general">
          <img src="/images/iconos/busqueda_general.png" width="128" height="128" alt="nueva orientación" />
        </a>
       </td>

        <td>
         <a href="/orientacions/list_by_user" title="Búsqueda por usuario">
           <img src="/images/iconos/orientaciones_usuario.png" width="128" height="128" alt="orientaciones por usuario"/>
         </a>
        </td>
  </tr>
  <tr align="center">
    <td class="menu">Aceptación de trámites</td>
    <td class="menu">Asignación de materia</td>
    <td class="menu">Validación de especialistas</td>
    <td class="menu">Ratificación de convenio</td>
  </tr>
</table>
<br/>
<%= link_to image_tag("botones/regresar_menu_ant.png", :border =>0) , :controller => "home", :action => "index"%><br />


