<div class="titulocalendario">
  <p>
    <%=@title%>
  </p>
</div>

<% form_tag({:action => @action} ) do -%>
 <table>
  <tr align="center">
      <th align="center">Fecha inicio</th>
      <th align="center">Fecha fin</th>
      <th align="center">&nbsp;</th>
  </tr>
  <tr align="center">
      <td><%= text_field_tag "fecha_inicio", Time.now.strftime("%Y/%m/%d") %></td>
      <td><%= text_field_tag 'fecha_fin',  Time.now.strftime("%Y/%m/%d")%></td>
      <td><%= submit_tag "Buscar"%></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
    <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
    <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
</table>
<% end %>
