<%= stylesheet_link_tag "kolaval_login"%>    
<div class="centered">
        <table width="100%" align="center">
          
          <!--linea -->
          <tr>
            <th><hr class="LineaHorizontalVerde" /></th>
          </tr>

          
          <tr>
            <th class="TituloInicioSesion">CONFIRMAR ORIENTACIÓN</th>
          </tr>


           <!--linea -->
          <tr>
            <th><hr class="LineaHorizontalVerde" /></th>
          </tr>

           <tr><th style="height: 4px">&nbsp;</th></tr>

           <%if flash[:error]%>
              <tr><th style="height: 4px" class="error"><%=flash[:error]%></th></tr>
           <%end%>

          <!-- inicia form -->
         <% form_for :historia, @historia, :url => { :action => "save_confirmar", :tramite => @tramite} do |f| -%>
            <tr align="center">
              <td>
              <%= text_field_tag 'login', @login, :class => "TextBoxInicioSesion", :placeholder => "NOMBRE DE USUARIO" %>
              </td>
            </tr>

             <tr><th style="height: 2px">&nbsp;</th></tr>

             <tr align="center">
              <td><%= password_field_tag 'password', nil, :class => "TextBoxInicioSesion", :placeholder => "CONTRASEÑA"%></td>
            </tr>

             <tr><th style="height: 2px">&nbsp;</th></tr>

            <!-- boton de entrar-->
            <tr align="center">
              <td>
               <input type="submit"  class="BotonEntrar" value="CONFIRMAR"/>
              </td>
            </tr>
        <%end%>
      </table>
   </div>





