<div class="titulocalendario">
  <p>
    Todos los especialistas se encuentran ocupados. Para actualizar la lista, espere un momento por favor...
  </p>

<p>
   <%= link_to image_tag("kolaval/ico-actualizar.jpg", :border =>0) , {:action => "new_or_edit"}, :title => "Recargar"%>
</p>
</div>
