<%= stylesheet_link_tag "kolaval_login"%>
<div class="centered"">
        <table width="100%" align="center">

          <!--linea -->
          <tr>
            <th><hr class="LineaHorizontalVerde" /></th>
          </tr>
          <tr>
            <th class="TituloInicioSesion" style="color: black;">&nbsp;<%=@text%>&nbsp;</th>
          </tr>
          <!--linea -->
          <tr>
            <th><hr class="LineaHorizontalVerde" /></th>
          </tr>
        </table>
</div>

