<h3 style="color:#104E8B; font-family: Helvetica;">Orientaciones y Comparecencias</h3>

<table width="70%" border="0" cellspacing="0" cellpadding="0">
  <tr align="center">

       <td>
        <a href="/orientacions/new_or_edit" title="Captura de orientaciones">
          <img src="/images/iconos/new_orientacion.png" width="128" height="128" alt="nueva orientación" />
        </a>
       </td>

       <td>
        <a href="/orientacions/list_all" title="Todas las orientaciones">
          <img src="/images/iconos/folder_documents.png" width="128" height="128" alt="nueva orientación" />
        </a>
       </td>

        <td>
         <a href="/orientacions/list_by_user" title="Orientaciones por usuario">
           <img src="/images/iconos/orientaciones_usuario.png" width="128" height="128" alt="orientaciones por usuario"/>
         </a>
        </td>
  </tr>
  <tr align="center">
    <td class="menu">Capturar orientación</td>
    <td class="menu">Todas las orientaciones</td>
    <td class="menu">Orientaciones por usuario</td>
  </tr>
</table>
<br/>
<%= link_to image_tag("botones/regresar_menu_ant.png", :border =>0) , :controller => "home", :action => "index"%><br />

