  <!-- footer -->
  <tr>
    <td  colspan="2">
      <table width="100%" border="0" cellspacing="0" cellpadding="0"><!--#791E16 -->
          <tr>
            <!-- linea horizontal -->
            <td>
              <hr align="center" width="45%" size="3" color="#d33934"></hr>
            </td>
          </tr>
          <tr>
          <td align="center" style="font-size: 10px; font-family: arial, sans-serif; color: #666666;">
            <%
              pie_pagina_default="Calle Candoquis número 290, esquina con Avenida Pino, Fraccionamiento el Bosque, C.P. 29047,
              Tuxtla Gutiérrez, Chiapas."
              max_id_conf = Configuracion.maximum(:id)
              @pie_pagina = (Configuracion.find(max_id_conf)) ? Configuracion.find(max_id_conf).pie_pagina : pie_pagina_default
            %>
            <%=h @pie_pagina%>
          </td>
         </tr>
          <tr>
            <td><input type="hidden" id="ffKeyTrap"/></td>
          </tr>
         <tr><td>&nbsp;</td></tr>
      </table>
    </td>
  </tr>
